h1{
    color:black;
    background-color: aquamarine;
    
}
button{
    color:rgb(7, 6, 6);
    background-color:rgb(128, 130, 241)
}

div{
    margin: 11px;
}

img{
    border: 5px solid black;
}